*~

/skummet-artifacts
build
classes

hs_err*

.metadata/
.project
.classpath
.settings
project.properties

.idea
*.iml
*.ipr
*.iws

.nrepl-port
target

.gradle/
.gradletasknamecache
local.properties

.byke

pom.xml

android/SnicTacToe
android/location
core/.projectile
android/android-api/keyring.gpg
