*~

/skummet-artifacts
build
classes

hs_err*

.metadata/
.project
.classpath
.settings
project.properties

.idea
*.iml
*.ipr
*.iws

.gradle/
.gradletasknamecache
local.properties

.byke

android/SnicTacToe
android/location
core/.projectile
android/android-api/keyring.gpg