<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="sneer.main"
    android:installLocation="internalOnly">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- GCM (Google Cloud Messages) -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="sneer.main.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="sneer.main.C2D_MESSAGE" />

    <application
        android:name="sneer.android.SneerApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <receiver android:name="sneer.android.ReferrerReceiver" android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <receiver android:name="sneer.android.SneerBoot">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver android:name="sneer.android.gcm.GcmBroadcastReceiver">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="sneer.main" />
            </intent-filter>
        </receiver>

        <receiver android:name="sneer.android.gcm.GcmRegistrationAlarmReceiver" />

        <service
            android:name="sneer.android.ipc.SendMessage"
            android:exported="true" />
        <service
            android:name="sneer.android.ipc.PartnerSessions"
            android:exported="true" />

        <activity
            android:name="sneer.android.ui.ConvosActivity"
            android:theme="@style/AppThemeMaterial">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="sneer.android.ui.ConvoActivity"
            android:label="@string/title_conversation"
            android:parentActivityName="sneer.android.ui.ConvosActivity"
            android:theme="@style/AppThemeMaterial" />

        <activity
            android:name="sneer.android.ui.SystemReportActivity"
            android:label="@string/title_activity_system_report"
            android:parentActivityName="sneer.android.ui.ConvosActivity"
            android:theme="@style/AppThemeMaterial">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="sneer.android.ui.ConvosActivity" />
        </activity>
        <activity
            android:name="sneer.android.ui.AcceptInviteActivity"
            android:label="@string/title_activity_accept_invite"
            android:theme="@android:style/Theme.Holo.Light.Dialog">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="sneer.android.ui.ConvosActivity" />

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="sneer.me"
                    android:pathPrefix="/invite"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name="sneer.android.ui.AddContactActivity"
            android:label="@string/action_add_contact"
            android:theme="@android:style/Theme.Holo.Light.Dialog">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="sneer.android.ui.ConvosActivity" />
        </activity>
    </application>

</manifest>
