<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sneer.android.videomessage"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.DeviceDefault.Dialog" >
        <activity
            android:name="sneer.android.videomessage.ComposeVideoMessageActivity"
            android:excludeFromRecents="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>

            <meta-data android:name="sneer:plugin-type" android:value="MESSAGE/COMPOSE" />
            <meta-data android:name="sneer:tuple-type" android:value="video" />
            <meta-data android:name="sneer:menu-caption" android:value="Video Message" />
            <meta-data android:name="sneer:menu-icon" android:resource="@drawable/ic_launcher" />
        </activity>
        <activity
            android:name="sneer.android.videomessage.ViewVideoMessageActivity" >
            <intent-filter>
		        <action android:name="android.intent.action.VIEW" />
		    </intent-filter>

            <meta-data android:name="sneer:plugin-type" android:value="MESSAGE/VIEW" />
            <meta-data android:name="sneer:tuple-type" android:value="video" />
            <meta-data android:name="sneer:menu-icon" android:resource="@drawable/ic_launcher" />
        </activity>
        
        <meta-data
            android:name="SneerApp"
            android:value=""/>
    </application>

</manifest>
