<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="diegomendes.sendpics"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.DeviceDefault.Dialog">

        <activity
            android:name=".SendPicsActivity"
            android:excludeFromRecents="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>

            <meta-data
                android:name="sneer:plugin-type"
                android:value="MESSAGE/COMPOSE" />
            <meta-data
                android:name="sneer:tuple-type"
                android:value="picture" />
            <meta-data
                android:name="sneer:menu-caption"
                android:value="Picture" />
            <meta-data
                android:name="sneer:menu-icon"
                android:resource="@drawable/ic_launcher" />
        </activity>
        
        <meta-data
            android:name="SneerApp"
            android:value=""/>
    </application>
</manifest>
