<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fabiomanera.sendlocation"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.DeviceDefault.Dialog">
        <activity
            android:name=".SendLocationActivity"
            android:excludeFromRecents="true"
            android:label="Location">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />  <!-- Eliminate? -->
            </intent-filter>

            <meta-data
                android:name="sneer:plugin-type"
                android:value="MESSAGE/COMPOSE" />  <!-- Eliminate? -->
            <meta-data
                android:name="sneer:tuple-type"
                android:value="location" />  <!-- Eliminate? -->
            <meta-data
                android:name="sneer:menu-caption"
                android:value="Location" />  <!-- Eliminate: Use Activity Label or App Label? -->
            <meta-data
                android:name="sneer:menu-icon"
                android:resource="@drawable/ic_launcher" />  <!-- Eliminate: Use app icon declared above? -->
        </activity>

        <meta-data
            android:name="SneerApp"
            android:value=""/>
    </application>
</manifest>
